@import "../../app/styles/variables.scss";
@import "../../app/styles/globals.scss";

$padding-desktop: 2rem;
$padding-mobile: 1rem;
$gap-desktop: 2rem;
$gap-mobile: 1.5rem;

.desktopLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-desktop;
    padding: $padding-desktop;
}
  
.mobileLayout {
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;
    padding: $padding-mobile;
}

.item {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #eee;

    @media (min-width: $breakpoint-md) {
        border: 0px;
    }
}

.accordionHeader {
    all: unset;
    cursor: pointer;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: normal;
    font-size: 1.1rem;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;

    @media (max-width: $breakpoint-md) {
        font-size: 1.5rem;
        text-align: center;
        padding: 0rem;
    }
    
}

.accordionContent {
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: normal;
    padding: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.show {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}
