@import "../../app/styles/variables.scss";
@import "../../app/styles/globals.scss";

.navbar__container {
    font-family: $font-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;

    @media (max-width: $breakpoint-md) {
        font-size: 0.75rem;
    }

}

.nav__logo {
    text-decoration: none;
    color: black;

    &:hover {
        color: $primary-color;
    }

    
}

.navbar__links {
    display: flex;
    gap: 2rem;

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }
    
    @media (max-width: $breakpoint-md){
        font-size: 1rem;
        gap: 1rem;
    }
}

